<section id="categorias">
  <h3 class="section-title">Categorías</h3>

  <div class="grid">
    <div class="card categoria" data-cat="Streamer Nominado">Streamer Nominado</div>
    <div class="card categoria" data-cat="Mejor Clip">Mejor Clip</div>
    <div class="card categoria" data-cat="Mejor Streamer">Mejor Streamer</div>
    <div class="card categoria" data-cat="Revelación">Revelación</div>
    <div class="card categoria" data-cat="Mejor Comunidad">Mejor Comunidad</div>
  </div>
</section>