<section id="nominados">
  <h3 class="section-title">Nominados</h3>
  <div class="grid" id="nominados-grid"></div>
</section>



<scrips
const nominadosData = [
  {
    nombre: "ix_Claris_xi",
    descripcion: "Contenido variado con gran comunidad",
    imagen: "imagenes/ix_claris_xi-logo.webp",
    canal: "https://www.twitch.tv/ix_claris_xi"
  },
  {
    nombre: "Eberdanza",
    descripcion: "Referente del under gaming",
    imagen: "imagenes/eber-logo.png",
    canal: "https://www.twitch.tv/eberdanza"
  },
  {
    nombre: "Elbasurero",
    descripcion: "Contenido variado con gran comunidad",
    imagen: "imagenes/elbasurero-logo.png",
    canal: "https://www.twitch.tv/elbasurerochido"
  },
  {
    nombre: "Goikorol",
    descripcion: "Referente del under gaming",
    imagen: "imagenes/goikorol-logo.png",
    canal: "https://www.twitch.tv/goikorol"
  }
];


// =============================
// GENERADOR DE TARJETAS
// =============================
function loadNominados() {
  const container = document.getElementById("nominados-grid");

  nominadosData.forEach(nom => {
    const card = document.createElement("div");
    card.classList.add("card");

    card.innerHTML = `
  <img src="${nom.imagen}" class="card-img">

  <div class="card-content">
    <h4>${nom.nombre}</h4>
    <p>${nom.descripcion}</p>

    <div class="card-buttons">
      <a href="${nom.canal}" target="_blank" class="btn secondary">Ver canal</a>
      <button class="btn">Votar</button>
    </div>
  </div>
`;

    container.appendChild(card);
  });
}

</scrips>